.enterpriselist-left{
	float: left;
	color: #000;
	width: 76%;
	font-size: 26px;
	line-height: 36px;
	padding-top: 10px;
}

.enterpriselist-right{
}

.enterpriselist-img{
	width: 140px;
}

.enterpriselist-data{
	font-size: 20px;
	color: #c8c8c8;
}

.enterpriselist-h{
	width: 100%;
	height: 1px;
	background-color: #e4e4e4;
}

.enterpriselist-admin{
	float: left;
	color: #6a8ec5;
	margin-right: 40px;
	width: 80px;
	text-align: center;
}